<div class="header">
  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox"/>
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
          <a class="button button-primary" id="button-header" href="/account/create"><li>Sign Up</li></a>
          <a class="button" id="button-header" href="/account/login"><li>Log In</li></a>
          <a class="button button" id="button-header" href="/trails"><li>Home</li></a>
      </ul>
    </div>
  </nav>
  <div class="header-text">
    <h1>Trail Mix</h1>
  </div>
</div>
