<div class="header">
  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox"/>
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
          <div class="spacer"></div>
          <li id="user-menu"><%=currentUserName%></li>
          <a class="button button-primary" id="button-header" href="/trails/add"><li>Add a Trail</li></a>
          <a class="button" id="button-header" href="/trails/your-trails/<%=currentUser%>"><li>Your Trails</li></a>
          <a class="button" id="button-header-logout" href="/trails"><li>Home</li></a>
          <a class="button" id="button-header-logout" href="/account/logout"><li>Log Out</li></a>
      </ul>
    </div>
  </nav>
  <div class="header-text">
    <h1>Trail Mix</h1>
  </div>
</div>
