<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%include ../../partials/stylesheets.ejs%>
    <title>Sign Up For Trail Mix</title>
  </head>
  <body>
    <h1>Sign Up For Trail Mix</h1>
    <form action="/account/create" method="post">
        <div class="row">
          <div class="four columns">
            <input class="u-full-width" type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <input class="u-full-width" type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <input class="u-full-width" type="password" placeholder="Confirm Password">
          </div>
        </div>
        <div class="row">
          <input class="button-primary" type="submit" value="Create Account">
        </div>
      </form>
  </body>
</html>
