<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%include ../../partials/stylesheets.ejs%>
    <title>Sign Up For Trail Mix</title>
  </head>
  <body class="full">
    <%include ../../partials/menu-noauth.ejs%>
    <div class="header-tag">
      <h2>Sign Up for Trail Mix</h2>
    </div>
    <div class="container">
      <form action="/account/create" method="post">
          <div class="row">
            <div class="twelve columns">
              <input class="u-full-width" type="text" name="username" placeholder="Username" required>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <input id="p1" class="u-full-width" type="password" name="password" placeholder="Password" required>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <input id="p2" class="u-full-width" type="password" placeholder="Confirm Password" required>
            </div>
          </div>
          <div class="row">
            <h3 id="message-status"></h3>
          </div>
          <div class="row">
            <input id="create-account" class="button-primary twelve columns" type="submit" value="Create Account">
          </div>
        </form>
    </div>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/JavaScript/validation.js"></script>
  </body>
</html>
