<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%include ../../partials/stylesheets.ejs%>
    <title>Sign Up For Trail Mix</title>
  </head>
  <body>
    <div class="header">
      <nav role="navigation">
        <div id="menuToggle">
          <input type="checkbox"/>
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
              <a class="button button-primary" id="button-header" href="/account/create"><li>Sign Up</li></a>
              <a class="button" id="button-header" href="/account/login"><li>Log In</li></a>
              <a class="button button" id="button-header" href="/trails"><li>Home</li></a>
          </ul>
        </div>
      </nav>
      <div class="header-text">
        <h1>Trail Mix</h1>
      </div>
    </div>
    <div class="header-tag">
      <h2>Sign Up for Trail Mix</h2>
    </div>
    <div class="container">
      <form action="/account/create" method="post">
          <div class="row">
            <div class="twelve columns">
              <input class="u-full-width" type="text" name="username" placeholder="Username">
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <input class="u-full-width" type="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <input class="u-full-width" type="password" placeholder="Confirm Password">
            </div>
          </div>
          <div class="row">
            <input class="button-primary twelve columns" type="submit" value="Create Account">
          </div>
        </form>
    </div>
  </body>
</html>
