<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%include ../../partials/stylesheets.ejs%>
    <title>Log In To Your Trial Mix Account</title>
  </head>
  <body>
    <h1>Log In To Your Trail Mix Account</h1>
    <form action="/account/login" method="post">
        <div class="row">
          <div class="four columns">
            <input class="u-full-width" type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <input class="u-full-width" type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="row">
          <input class="button-primary" type="submit" value="Log In">
        </div>
      </form>
      <%if(message !== "none"){%>
        <div class="message">
          <p><%=message%></p>
        </div>
      <%}%>
  </body>
</html>
