<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%include ../../partials/stylesheets.ejs%>
    <title>Create Your Trail Mix Account</title>
  </head>
  <body>
    <h1>Create Your Trail Mix Account</h1>
  </body>
</html>
