@import url('https://fonts.googleapis.com/css?family=Archivo&display=swap');

body {
  font-family: "Archivo", sans-serif;
}

.message {
  color: red;
}

/* @media screen and (max-width: 1000px) { */
  .header {
    display: flex;
    justify-content: left;
  }

  .header-text {
    margin: 0 0 0 5%;
    width: 85%;
    text-align: left;
  }

  .header-tag {
    text-align: center;
  }

  h1 {
    margin: 0;
    font-size: 20vw;
  }

  h2 {
    margin: 0 0 5% 0;
    font-size: 6vw;
  }

  h3 {
    font-size: 5vw;
    margin-bottom: 3%;
  }

  .main {
    text-align: center;
  }

  .main > h2 {
    margin-bottom: 1%;
    font-weight: 400;
    font-size: 8vw;
  }

  .trail {
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 8%;
    position: relative;
  }

  .trail-preview {
    text-align: left;
    position: absolute;
    bottom: 0;
    margin: 3% 2%;
    padding: 2% 4%;
    background-color: ghostwhite;
    opacity: .75;
  }

  .trail-preview > h5 {
    margin: 0;
    font-size: 7vw;
  }

  .trail-preview > p {
    margin: 0;
    font-size: 3vw;
  }

  .trail-preview > .button {
    margin: 5% 0 2% 0;
    width: 85%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
  }

  /* Setting up the hamburger nav */
  #button-header, #button-header-logout {
    width: 100%;
    height: 170px;
    margin: 30% 0;
    font-size: 6rem;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #menuToggle {
    display: inline-block;
    position: relative;
    top: 25%;
    left: 10%;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 100%;
    height: 17vh;
    margin-bottom: 0;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 16vw;
    height: 2vw;
    margin-bottom: 15%;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(37deg) translate(-2px, -1px);
    background: black;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-37deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 500px;
    margin: -100% 0 0 -50px;
    padding: 100px;
    padding-top: 125px;
    padding-bottom: 0px;
    background: ghostwhite;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
  }

  #menu li {
    padding: 0;
    margin: 0;
    /* font-size: 22px; */
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

  .show-image {
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 8%;
    position: relative;
  }

  #edit-button {
    font-size: 5rem;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 2%;
    padding: 6px 10px;
  }

  #edit-button {
    font-size: 5rem;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    padding: 6px 10px;
  }

  td {
    font-size: 2vw;
  }

  p {
    font-size: 4vw;
  }

  /* Form styling from Skeleton - making fields larger for mobile
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  input[type="submit"],
  textarea,
  select {
    font-size: 5rem;
    height: 175px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box; }
  /* Removes awkward default styles on some inputs for iOS */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px; }
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #33C3F0;
    outline: 0; }
  label,
  legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600; }
  fieldset {
    padding: 0;
    border-width: 0; }
  input[type="checkbox"],
  input[type="radio"] {
    display: inline; }
  label > .label-body {
    font-size: 5rem;
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal; }

    #share {
      transform: scale(4);
      margin: 5%;
      margin-bottom: 10%;
    }
/* } */
