@import url('https://fonts.googleapis.com/css?family=Archivo&display=swap');

body {
  font-family: "Archivo", sans-serif;
}

.header {
  display: flex;
  justify-content: left;
}

.header-text {
  margin: 0 0 0 5%;
  width: 85%;
  text-align: left;
}

.header-tag {
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 20vw;
}

h2 {
  margin: 0 0 5% 0;
  font-size: 6vw;
}

.trail {
  height: 500px;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10%;
  position: relative;
}

.trail-preview {
  position: absolute;
  bottom: 0;
  margin: 2% 4%;
  padding: 2% 4%;
  background-color: ghostwhite;
}

.trail-preview > h5,p {
  margin: 0;
}

.trail-preview > .button {
  margin: 10% 0 2% 0;
}

/* Setting up the hamburger nav */
#button-header {
  width: 100%;
  height: 150px;
  margin: 15% 0;
  font-size: 9rem;
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menuToggle
{
  display: inline-block;
  position: relative;
  top: 25%;
  left: 10%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 100%;
  height: 17vh;
  margin-bottom: 0;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 16vw;
  height: 2vw;
  margin-bottom: 15%;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  /* transition: transform 0s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0s ease; */
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(37deg) translate(-2px, -1px);
  background: black;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-37deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 500px;
  margin: -100% 0 0 -50px;
  padding: 100px;
  padding-top: 125px;
  padding-bottom: 0px;
  background: ghostwhite;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  /* transition: transform .2s cubic-bezier(0.77,0.2,0.05,1.0); */
}

#menu li
{
  padding: 0;
  margin: 0;
  /* font-size: 22px; */
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
