<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%include ../../partials/stylesheets.ejs%>
    <title>Add a Trail</title>
  </head>
  <body>
    <%include ../../partials/menu.ejs%>
    <div class="header-tag">
      <h2>Add a Trail</h2>
    </div>
    <div class="container">
      <form action="/trails/add" method="post">
          <div class="row">
            <div class="twelve columns">
              <input class="u-full-width" type="text" name="trail_name" placeholder="The trail you hiked" required>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <input class="u-full-width" type="text" name="location" placeholder="Location" required>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <input class="u-full-width" type="text" name="image" placeholder="Image URL">
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <input class="u-full-width" type="text" name="trail_features" placeholder="Trail features: wildlife, views, etc." required>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <input class="u-full-width" type="text" name="conditions" placeholder="Conditions">
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <input class="u-full-width" type="text" name="exposure" placeholder="Exposure">
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <input class="u-full-width" type="text" name="route" placeholder="Your route">
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <input class="u-full-width" type="text" name="distance" placeholder="Distance">
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <input class="u-full-width" type="text" name="elevation_gain" placeholder="Elevation gain">
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <select class="u-full-width" name="difficulty">
                <option value="Easy">Difficulty - Easy</option>
                <option value="Moderate">Difficulty - Moderate</option>
                <option value="Hard">Difficulty - Hard</option>
                <option value="Extreme">Difficulty - Extreme</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <input class="u-full-width" type="text" name="wildlife" placeholder="Wildlife seen">
            </div>
            <div class="twelve columns">
              <input class="u-full-width" type="text" name="flora" placeholder="Flora seen">
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <input class="u-full-width" type="text" name="notes" placeholder="Your notes about the hike">
            </div>
          </div>
          <div class="row">
            <label for="share">
              <input type="checkbox" id="share" name="share">
              <span class="label-body">Share this trail publicly</span>
            </label>
          </div>
          <div class="row">
            <input class="button-primary twelve columns" type="submit" value="Add Trail">
          </div>
        </form>
    </div>
  </body>
</html>
